{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block head_title %}
<title>{{ category.name|title }} - Jane's Fashion </title>
{% endblock %}
{% block content %}

<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/shopbg.jpg' %}); background-position:
    center center; background-size: cover; width: 100%;">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'core:home' %}"
                            class=" text-white">Home</a></span> / <span class="mr-2"><a class=" text-white"
                            href="{% url 'core:shop' %}">Shop</a></span> / <span
                        class="mr-2 text-white">{{ category.name|title }} </span> </p>
                <h1 class="mb-5  text-white bread">{{ category.name|title }}</h1>

                <form action="/search" method="GET" class="search-form">
                    <div class="form-group">
                        <span class="icon ion-ios-search"></span>
                        <input type="text" class="form-control" name="search_term"
                            placeholder="Type a keyword and hit enter">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<section class="ftco-section ">
    <div class="container">
        <div class="row no-gutters">
            {% for item in shoptop %}
            <div class="col-md-3">
                <a href="#">
                    <img src="" alt="">
                    <div class="choose-wrap divider-one img p-0 d-flex align-items-end mr-1"
                        style="background-image: url({{item.image.url}}); backgrount-size: cover; height: 100px;">

                        <div class="text text-center text-white px-2 ">

                        </div>
                    </div>

                </a>
            </div>
            {% endfor %}

        </div>
    </div>
    <br><br>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 order-md-last">
                <div class="row">

                    {% for item in instance %}

                    <div class="col-lg-3 col-md-4 col-6 col-6">
                        <div class="product d-flex flex-column">
                            {% thumbnail item.image  "250x250" crop="center" as jane %}
                            <a href="{{ item.get_absolute_url }}" class="img-prod"><img class="img-fluid"
                                    width="{{ jane.width }}" src="{{ jane.url }}" height="{{jane.height}}"
                                    alt="Janes fashion">
                                {% endthumbnail %}
                                {% if item.discount_percent %}
                                <span class="status">{{ item.discount_percent }} % Off</span>
                                {% endif %}
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3">
                                <div class="d-flex">
                                    <div class="cat">
                                        <span>{{ item.category  }}</span>
                                    </div>

                                </div>
                                <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                <div class="pricing">
                                    <p class="price">
                                        {% if item.discount_price %}
                                        <span class="mr-2 price-dc"> &#8358; {{item.discount_price|intcomma}}</span>
                                        <br>
                                        {% endif %}
                                        <span class="price-sale">&#8358; {{item.price|intcomma}}</span></p>
                                </div>

                            </div>
                        </div>
                    </div>

                    {% endfor %}


                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="ftco-section ">
    <div class="container">
        <div class="row no-gutters">
            {% for item in shopside %}
            <div class="col-md-6 pb-2 pr-1">
                <a href="#">

                    <img src="{{item.image.url}}" style="width:100%; height: 250px;"
                        lass="choose-wrap divider-one  img-fluid mb-3 d-flex align-items-end" alt="">

                    <div class="text text-center text-white px-2 ">


                    </div>

                </a>
            </div>
            {% endfor %}

        </div>
    </div>
    <br><br>
</section>

{% endblock %}