{% extends "base.html" %}
{% load static %}
{% block head_title %}

<title>Frequently Asked Questions - Jane's Fashion </title>
{% endblock %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/header.jpg'%});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-white text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'core:home' %}"
                            class="text-white">Home</a></span>
                    <span class="text-white">Frequently Asked Questions</span></p>
                <h1 class="mb-5 text-white bread">Frequently Asked Questions</h1>
            </div>
        </div>
    </div>
</div>
<section class="section section-lg">
    <section class="section">

        <div class="container">
            <div class="row row-grid justify-content-between">

                <div class="col-md-9 mx-auto">
                    <div class="pl-md-5">
                        <h1 class="text-center pt-3">Frequently Asked Questions</h1>
                        <hr />
                        <p>I should be capable of drawing a single stroke at the present moment; and yet I feel that
                            I never was a greater artist than now. </p>

                        <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes
                            the upper surface of the impenetrable foliage of my trees, and but a few stray.</p>


                        <br />

                    </div>
                    <!-- Card -->
                    <div class="card card-image">

                        <!-- Content -->
                        <div class="rgba-black-strong py-5 px-4">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-10 col-xl-8">

                                    <!--Accordion wrapper-->
                                    <div class="accordion md-accordion accordion-5" id="accordionEx5" role="tablist"
                                        aria-multiselectable="true">

                                        <!-- Accordion card -->
                                        <div class="card mb-4">

                                            <!-- Card header -->
                                            <div class="card-header p-0 z-depth-1" role="tab" id="heading30">
                                                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse30"
                                                    aria-expanded="true" aria-controls="collapse30">
                                                    <i class="fas fa-cloud fa-2x p-3 mr-4 float-left black-text"
                                                        aria-hidden="true"></i>
                                                    <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                                                        Item #1
                                                    </h4>
                                                </a>
                                            </div>

                                            <!-- Card body -->
                                            <div id="collapse30" class="collapse show" role="tabpanel"
                                                aria-labelledby="heading30" data-parent="#accordionEx5">
                                                <div class="card-body rgba-black-light white-text z-depth-1">
                                                    <p class="p-md-4 mb-0">Anim pariatur cliche reprehenderit, enim
                                                        eiusmod high life accusamus
                                                        terry richardson ad squid. 3 wolf moon officia aute,
                                                        non cupidatat skateboard dolor brunch. Food truck quinoa
                                                        nesciunt laborum eiusmod. Brunch
                                                        3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                        single-origin coffee nulla assumenda
                                                        shoreditch et.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Accordion card -->

                                        <!-- Accordion card -->
                                        <div class="card mb-4">

                                            <!-- Card header -->
                                            <div class="card-header p-0 z-depth-1" role="tab" id="heading31">
                                                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse31"
                                                    aria-expanded="true" aria-controls="collapse31">
                                                    <i class="fas fa-comment-alt fa-2x p-3 mr-4 float-left black-text"
                                                        aria-hidden="true"></i>
                                                    <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                                                        Item #2
                                                    </h4>
                                                </a>
                                            </div>

                                            <!-- Card body -->
                                            <div id="collapse31" class="collapse" role="tabpanel"
                                                aria-labelledby="heading31" data-parent="#accordionEx5">
                                                <div class="card-body rgba-black-light white-text z-depth-1">
                                                    <p class="p-md-4 mb-0">Anim pariatur cliche reprehenderit, enim
                                                        eiusmod high life accusamus
                                                        terry richardson ad squid. 3 wolf moon officia aute,
                                                        non cupidatat skateboard dolor brunch. Food truck quinoa
                                                        nesciunt laborum eiusmod. Brunch
                                                        3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                        single-origin coffee nulla assumenda
                                                        shoreditch et.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Accordion card -->

                                        <!-- Accordion card -->
                                        <div class="card mb-4">

                                            <!-- Card header -->
                                            <div class="card-header p-0 z-depth-1" role="tab" id="heading32">
                                                <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse32"
                                                    aria-expanded="true" aria-controls="collapse32">
                                                    <i class="fas fa-cogs fa-2x p-3 mr-4 float-left black-text"
                                                        aria-hidden="true"></i>
                                                    <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                                                        Item #3
                                                    </h4>
                                                </a>
                                            </div>

                                            <!-- Card body -->
                                            <div id="collapse32" class="collapse" role="tabpanel"
                                                aria-labelledby="heading32" data-parent="#accordionEx5">
                                                <div class="card-body rgba-black-light white-text z-depth-1">
                                                    <p class="p-md-4 mb-0">Anim pariatur cliche reprehenderit, enim
                                                        eiusmod high life accusamus
                                                        terry richardson ad squid. 3 wolf moon officia aute,
                                                        non cupidatat skateboard dolor brunch. Food truck quinoa
                                                        nesciunt laborum eiusmod. Brunch
                                                        3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                        single-origin coffee nulla assumenda
                                                        shoreditch et.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Accordion card -->
                                    </div>
                                    <!--/.Accordion wrapper-->

                                </div>
                            </div>
                        </div>
                        <!-- Content -->
                    </div>
                    <!-- Card -->
                    <div class="text-center">
                        <a href="{% url 'core:shop' %}" class="font-weight-bold  btn btn-primary mt-5">Let's
                            Shop <i class="tim-icons icon-minimal-right text-info"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<div class="page-header">



</div>
<section class="ftco-section ">
    <div class="container">
        <div class="row no-gutters">
            {% for item in shopside %}
            <div class="col-md-6 pb-2 pr-1">
                <a href="#">

                    <img src="{{item.image.url}}" style="width:100%; height: 250px;"
                        lass="choose-wrap divider-one  img-fluid mb-3 d-flex align-items-end" alt="">

                    <div class="text text-center text-white px-2 ">


                    </div>

                </a>
            </div>
            {% endfor %}

        </div>
    </div>
    <br><br>
</section>
{% endblock content %}