{% extends "base.html" %}
{% load static %}
{% block head_title %}

<title>Paystack Failed - Jane's Fashion </title>
{% endblock %}
{% block content %}

<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/header.jpg'%});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-white text-center">

                <h1 class="mb-5 text-white bread">Payment
                    Failed</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-header pt-3">

    <div class="content-center">
        <div class="container">
            <div class="row row-grid justify-content-between align-items-center text-left">
                <div class="col-md-6 text-center">
                    <h1 class="profile-title text">Oh Nooo!!!</h1>
                    <h5 class="text-on-back">Your Payment Was Unsuccessful</h5>
                    <p class="profile-description">Please try again</p>

                    <div class="btn-wrapper mb-3">

                        <a href="{% url 'core:home' %}" class="btn btn-primary">Go Home</i></a>
                    </div>

                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/shop.svg'%}" alt="Circle image" class="img-fluid">

                </div>
            </div>
        </div>
    </div>


</div>
<section class="ftco-section ">
    <div class="container">
        <div class="row no-gutters">
            {% for item in shopside %}
            <div class="col-md-6 pb-2 pr-1">
                <a href="#">

                    <img src="{{item.image.url}}" style="width:100%; height: 250px;"
                        lass="choose-wrap divider-one  img-fluid mb-3 d-flex align-items-end" alt="">

                    <div class="text text-center text-white px-2 ">


                    </div>

                </a>
            </div>
            {% endfor %}

        </div>
    </div>
    <br><br>
</section>
{% endblock content %}