{% extends "base.html" %}
{% load static %}
{% block head_title %}

<title>Returns & Exchange - Jane's Fashion </title>
{% endblock %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/header.jpg'%});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-white text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'core:home' %}"
                            class="text-white">Home</a></span>
                    <span class="text-white">Returns & Exchange</span></p>
                <h1 class="mb-5 text-white bread">Returns & Exchange</h1>
            </div>
        </div>
    </div>
</div>
<section class="section section-lg">
    <section class="section">

        <div class="container">
            <div class="row row-grid justify-content-between">

                <div class="col-md-9 mx-auto">
                    <div class="pl-md-5 text-justify">
                        <h1 class="text-center pt-3">Returns & Exchange</h1>
                        <hr />
                        <p>I should be capable of drawing a single stroke at the present moment; and yet I feel that
                            I never was a greater artist than now. </p>

                        <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes
                            the upper surface of the impenetrable foliage of my trees, and but a few stray.</p>

                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime minus placeat magni
                            voluptatum. Quam vitae iusto eius eos facere culpa doloribus molestiae amet nostrum ut
                            repellendus illum, non corrupti ab et. Facilis et quam sunt maxime sint amet impedit, illo
                            minima facere aperiam porro ipsa ducimus animi. Quaerat mollitia dolore vitae numquam? Eum
                            obcaecati facilis accusamus quia quidem dolores deleniti dignissimos tempora inventore
                            tempore ipsum commodi nostrum minus iusto beatae totam excepturi amet veniam nesciunt, ad
                            impedit quaerat repellat. Doloribus quia quisquam temporibus. Veniam nostrum sequi ad
                            tempora neque reprehenderit adipisci tempore voluptas ducimus laborum incidunt suscipit
                            eaque, maiores cum placeat omnis minima at aperiam magni quaerat consequatur aliquam
                            assumenda deleniti quae. Ratione illo quos et amet dicta nisi reiciendis similique corrupti.
                            Eveniet, quam. Minima nisi temporibus nam unde non voluptatibus saepe aspernatur deleniti
                            velit facere ab, iste quidem dicta quas explicabo modi totam commodi ex porro neque soluta
                            reprehenderit esse similique. Voluptates tenetur non et assumenda dolor at rerum voluptate,
                            maxime placeat illo consequatur accusamus atque minus numquam. Reprehenderit mollitia minima
                            repellat, molestias ipsa voluptas illum animi, odio iure commodi vero ratione perspiciatis
                            officiis qui? Error repudiandae eos itaque at dolorum? Corporis dicta nulla totam expedita
                            perferendis nostrum blanditiis neque delectus magnam. Consectetur doloremque aliquam illo
                            quasi veritatis consequatur, tenetur unde repellendus non itaque! Atque, suscipit sint.
                            Ullam, nobis eos aperiam recusandae impedit facilis eveniet quibusdam provident corporis
                            voluptate molestiae illum labore dolor et ex nisi alias debitis laboriosam mollitia beatae
                            quis fugiat. Porro, nemo labore. Voluptas quisquam, nam, pariatur commodi molestiae eos
                            doloremque similique doloribus ipsa aut suscipit provident labore. Nulla aliquam eum natus,
                            impedit dolor, deserunt veniam tempora veritatis culpa unde consectetur asperiores quae
                            beatae harum illum id libero distinctio magni dolorem, qui soluta quasi vel? Voluptas
                            repudiandae unde praesentium asperiores, omnis nobis magnam sint! Cum officiis amet corrupti
                            similique laborum blanditiis fuga officia necessitatibus suscipit possimus, ab dolorum
                            temporibus maxime aliquid enim quidem ad rem et, cumque magnam, quas vero? Autem, sed
                            aliquid nemo voluptas, saepe omnis rem dignissimos minima maxime iure provident, vero
                            assumenda distinctio placeat molestias quisquam fugit nobis fugiat reprehenderit iusto
                            perspiciatis. Facilis pariatur accusamus sit maxime atque, voluptas autem, alias deleniti
                            voluptates in ipsa tenetur libero modi molestias consectetur amet rem suscipit, quod iusto
                            minus laudantium quam rerum cum. Qui aut voluptate quis aperiam itaque? Beatae vel, natus
                            quae quisquam sit eveniet aut cupiditate veniam, mollitia ratione optio praesentium impedit
                            quo consectetur eius, minus aliquid! In, perspiciatis. Sint iste, eveniet exercitationem
                            maiores ad blanditiis praesentium. Assumenda, quaerat tempore eum repellat, dolore,
                            explicabo quidem vel aliquid officiis rerum ad quis autem. Dolor, assumenda illum saepe
                            cupiditate vitae mollitia exercitationem perferendis recusandae animi minus tempora
                            molestiae harum, iure in reiciendis consectetur est incidunt quos nesciunt quas voluptates
                            possimus praesentium. Veritatis sequi officia reprehenderit consectetur ad recusandae, modi
                            ipsa molestias possimus corporis quibusdam quidem, expedita qui? Vitae libero deleniti
                            commodi quidem voluptatum vel ut rerum iure! Quasi ipsam maxime quaerat fuga nisi? Eius
                            saepe ratione maxime consectetur accusantium, amet recusandae quam error voluptatibus iste
                            rerum laboriosam nam ea suscipit. Quaerat iusto impedit illum porro explicabo perferendis
                            rerum corrupti ex dolores optio asperiores dignissimos cumque, quasi sunt fugiat, alias nam,
                            distinctio assumenda blanditiis perspiciatis voluptatum aspernatur. Quaerat dolores ab, rem
                            tempora explicabo facere similique incidunt accusamus accusantium vitae labore fugiat
                            voluptas, mollitia reiciendis corporis delectus qui excepturi? Magnam doloribus aperiam
                            perspiciatis inventore ut! Quia dolores, perspiciatis iste doloribus nihil suscipit
                            dignissimos odio nostrum delectus ab minima laudantium, cupiditate illum? Consequatur
                            assumenda cumque, voluptatibus dolor fugiat ipsa doloribus, alias iure ipsum quod voluptatem
                            dolores quidem delectus in sit officiis ex sunt? Sed vel ipsum porro blanditiis, nostrum ex
                            fugiat fugit! Libero consequatur esse quod delectus ea eum asperiores ab dolor quo tempore?
                            Fuga dolorem totam veniam tenetur reiciendis nulla voluptates, culpa suscipit. Assumenda
                            repellendus velit incidunt praesentium ratione facilis officia doloribus, enim veniam
                            blanditiis numquam iusto temporibus accusamus laborum corrupti sequi, beatae minima
                            voluptatibus quasi? Nulla cumque fugiat ipsum cupiditate accusamus? Consequatur reiciendis,
                            minima maxime pariatur eos dolore quia ullam nemo beatae quos qui quo non earum? Est nihil
                            blanditiis suscipit voluptates sunt aperiam fugit numquam excepturi quaerat? Iure dicta
                            nemo, deleniti aut ea obcaecati atque dolorum ipsa temporibus, cum fugiat sit sapiente
                            nulla, corrupti explicabo. Sit nemo ipsam reprehenderit sequi! Ea asperiores explicabo
                            placeat at esse iste tempora veritatis tenetur magnam voluptate non eligendi dicta,
                            reiciendis nemo alias id deleniti vitae officia sapiente saepe repellendus. Sit quas,
                            eveniet atque earum voluptate in tempora quasi, aspernatur perferendis minus ratione harum
                            eligendi provident dolore, iusto commodi esse ipsam dicta minima recusandae delectus magni
                            assumenda reiciendis. Nemo nesciunt harum ullam eveniet, eligendi molestiae recusandae
                            doloribus odit non ea possimus dignissimos molestias rem excepturi amet magni, quis aperiam?
                            Fugit ipsam incidunt odio veniam mollitia, ex illo deserunt. Odit ab, corrupti ratione neque
                            a dolorum aspernatur repudiandae vitae quasi, aliquid facilis voluptate, iste enim
                            reprehenderit. Vero labore accusamus eum eligendi dicta, blanditiis esse minima vitae minus
                            animi! Doloremque voluptas nam dolorem sunt totam unde vel laboriosam? Doloribus neque nisi,
                            eum nobis dolor ducimus commodi ea itaque, aliquam dolorem rem, voluptatibus dicta. Quidem
                            dolorum porro, itaque culpa sapiente ducimus, soluta consequuntur, velit quas facere
                            distinctio non. Repudiandae illo iste, earum doloremque qui placeat dignissimos pariatur
                            expedita doloribus unde dolorem repellendus! In est, earum explicabo quibusdam id labore eum
                            officiis, sed recusandae, consequatur nostrum amet. Inventore voluptates quas fugit nesciunt
                            debitis deserunt dolore pariatur. Ad asperiores totam in, repudiandae aspernatur quaerat
                            suscipit, ipsa commodi atque quia, mollitia officiis harum sit molestiae architecto illo?
                            Obcaecati necessitatibus saepe accusamus? Praesentium aliquid cum consequuntur voluptates
                            aut, adipisci enim, pariatur, eum quam consequatur doloribus amet atque! Voluptatibus modi
                            perspiciatis nesciunt veniam unde earum. Dolores quae eum rerum provident corporis vel
                            placeat natus? Eaque quos necessitatibus, officiis reiciendis modi consequuntur velit ea in
                            aspernatur? Alias eveniet ad sint impedit eaque placeat incidunt animi. Quasi ipsa
                            perferendis ab amet cupiditate mollitia excepturi eum modi maiores, reiciendis eius deleniti
                            ratione autem. Magni, molestiae illo nemo, nam adipisci incidunt id alias dolor veniam,
                            expedita inventore. Aliquam tenetur doloremque magni facilis vero.</p>
                        <br />

                    </div>
                    <div class="text-center">
                        <a href="{% url 'core:shop' %}" class="font-weight-bold  btn btn-primary mt-5">Let's
                            Shop <i class="tim-icons icon-minimal-right text-info"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<div class="page-header">



</div>
<section class="ftco-section ">
    <div class="container">
        <div class="row no-gutters">
            {% for item in shopside %}
            <div class="col-md-6 pb-2 pr-1">
                <a href="#">

                    <img src="{{item.image.url}}" style="width:100%; height: 250px;"
                        lass="choose-wrap divider-one  img-fluid mb-3 d-flex align-items-end" alt="">

                    <div class="text text-center text-white px-2 ">


                    </div>

                </a>
            </div>
            {% endfor %}

        </div>
    </div>
    <br><br>
</section>
{% endblock content %}