{% extends 'dashboard/base.html'%}
{% load static %}

{% load humanize %}
{% block content %}
<div class="wrapper ">
  {% include 'dashboard/sidebar.html' %}
  <div class="main-panel" id="main-panel">
    <!-- Navbar -->
    {% include 'dashboard/navbar.html' %}
    <!-- End Navbar -->
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title text-center"> Orders by {{ view.kwargs.username|title }}</h4>
            </div>







            </br>








            <div class="col-md-10 mx-auto">

              {% for order in instance %}
              {% if order.ordered == True  %}
              <div class="card-body">

                <div class="row">

                  <div class="col-md-7 ">
                    <h4>Order id = {{ order.order_id }} </h4>
                    <ul>

                      <li>Item Name = {{ order.items.title|title }} </li>
                      <li>Amount = &#8358; {{ order.payment.amount|intcomma}}</li>
                      <li>Date = {{ order.ordered_date}}</li>




                      <li> Order status: {% if order.ordered == True %} Ordered {% else %} Order not placed {% endif %}
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
              {% else %}
              <p>No order avilable</p>
              {% endif %}
              {% endfor %}



            </div>


          </div>

        </div>
      </div>
    </div>
  </div>

</div>
</div>
{% endblock %}