{% extends 'dashboard/base.html'%}
{% load static %}

{% block content %}
<div class="wrapper ">
  {% include 'dashboard/sidebar.html' %}
  <div class="main-panel" id="main-panel">
    <!-- Navbar -->
    {% include 'dashboard/navbar.html' %}
    <!-- End Navbar -->
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Orders by {{ view.kwargs.username }}</h4>
            </div>



           

            
            
          </br>
           
        






            <div class="col-md-10 mx-auto">

              {% for order in instance %}
              {% if order %}
              <div class="card-body">

                <div class="row">
                 
                  <div class="col-md-7 ">
                    <h4>order id = {{ order.order_id }} </h4>
                    <ul>
                      
                      <li>items = {{ order.items.name }} </li>
                      <li>payment method = {{ order.payment }}</li>
          
                      <li>Beign delivered = {{ order.being_delivered }}</li>
                      <li>Order Revieved = {{ order.received }}</li>
                      <li>Refund request = {{ order.refund_requested }}</li>
                      <li>Refund Granted {{ order.refund_granted  }}</li>
                      
          
          
                     <li> order status: {% if order.ordered == True %} Ordered {% else %} Order not placed {% endif %}</li>
                    </ul>
                  </div>
                  
                </div>
              </div>
              {% else %}
              <p>No order avilable</p>
              {% endif %}
              {% endfor %}
             

                
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}