{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper ">
  {% include 'dashboard/sidebar.html' %}
  <div class="main-panel" id="main-panel">
    <!-- Navbar -->
    {% include 'dashboard/navbar.html' %}
    <!-- End Navbar -->

    
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card">
            <div class="card-header">
              <h5 class="title" align='center'></br>Edit Profile</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div align='center' class="col-md-12 ">
                    <div class="form-group">
                      {% csrf_token %}
    {{ u_form|crispy}}
                   {{p_form|crispy}}
                   <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                  </div>
                 
                </div>
                
                
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}